.dialog-container {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	overflow-y: auto;
}

.dialog-container[aria-hidden='true'] {
	display: none;
}

.dialog-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(43, 46, 56, 0.9);
	animation: fade-in 200ms both;
}

.dialog-content {
	background-color: var(--font-alt-color);
	margin: auto;
	z-index: 2;
	position: relative;
	animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
	padding: 1em;
	max-width: 90%;
	width: 600px;
	border-radius: 2px;
}

@media screen and (min-width: 700px) {
	.dialog-content {
		padding: 2em;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes slide-up {
	from {
		transform: translateY(10%);
	}
}

.dialog h2 {
	margin: 0;
	font-size: 1.25em;
}

.dialog-close {
	border: 1px solid var(--dark-gray);
	padding: 0;
	color: var(--dark-gray);
	background-color: var(--font-alt-color);
	font-weight: bold;
	font-size: 2em;
	width: 1em;
	height: 1em;
	text-align: center;
	cursor: pointer;
	transition: 0.15s;
	float: right;
	margin-bottom: -1.2em;
	border-radius: var(--border-radius);
}
